.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.innerInputContainer {
    display: flex;
    flex-direction: column;
}

.input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    outline: none;
}

.input.error {
    border: 2px solid #d9534f;
}

.input:focus {
    border: 2px solid #2684ff;
}

.errorMessage {
    color: #d9534f;
    font-size: 0.875rem;
    margin: 0 0.5rem 0 0.5rem;
}
