.weekNavigation {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    border: 1px solid #dcdfe4;
    border-radius: 0.5rem;
    width: max-content;
}

.weekNavigationContainer {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
}

.weekNavigationButton {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weekNavigationButton:hover {
    color: #007bff;
}
